<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>HOME</string>
		<key>Image</key>
		<string>placemark-icon1</string>
		<key>Address</key>
		<string>601 N Buchanan St, Arlington, VA</string>
		<key>Coordinates</key>
		<string>{37.90000,-77.49075689999997}</string>
		<key>LastVisitDate</key>
		<string>Sept 10, 2012</string>
		<key>NumVisits</key>
		<string>20</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AIRPORT DEPARTURE</string>
		<key>Image</key>
		<string>airplane-landing1</string>
		<key>Address</key>
		<string>3000 Clarendon Blvd, Arlington, VA</string>
		<key>Coordinates</key>
		<string>{37.90000,-77.49075689999997}</string>
		<key>LastVisitDate</key>
		<string>Sept 10, 2012</string>
		<key>NumVisits</key>
		<string>20</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AIRPORT ARRIVAL</string>
		<key>Image</key>
		<string>airplane-takeoff</string>
		<key>Address</key>
		<string>100 Washington St, Alexandria, VA</string>
		<key>Coordinates</key>
		<string>{37.90000,-77.49075689999997}</string>
		<key>LastVisitDate</key>
		<string>Sept 10, 2012</string>
		<key>NumVisits</key>
		<string>20</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GIRLFRIEND</string>
		<key>Image</key>
		<string>boyfriend-house</string>
		<key>Address</key>
		<string>2000 Wilson Blvd, Arlington,VA</string>
		<key>Coordinates</key>
		<string>{37.90000,-77.49075689999997}</string>
		<key>LastVisitDate</key>
		<string>Sept 10, 2012</string>
		<key>NumVisits</key>
		<string>20</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>TRAIN STATION</string>
		<key>Image</key>
		<string>train-icon1</string>
		<key>Address</key>
		<string>50 Massachusetts Ave NE, Washington, DC</string>
		<key>Coordinates</key>
		<string>{37.568848,-77.49075689999997}</string>
		<key>LastVisitDate</key>
		<string>Sept 10, 2012</string>
		<key>NumVisits</key>
		<string>20</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>HELIPAD</string>
		<key>Image</key>
		<string>helicopter-icon1</string>
		<key>Address</key>
		<string>100 Water St SW, Washington, DC</string>
		<key>Coordinates</key>
		<string>{37.90000,-77.6000000}</string>
		<key>LastVisitDate</key>
		<string>Sept 10, 2012</string>
		<key>NumVisits</key>
		<string>20</string>
	</dict>
</array>
</plist>
