<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>716 Addison St.</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
	<dict>
		<key>Reservation ID</key>
		<string>10328914509</string>
		<key>Reservation Created</key>
		<string>9-12-2015 10:43:00 AM</string>
		<key>Reservation Date</key>
		<string>9-18-2015 11:00:00 AM</string>
		<key>Pickup Location</key>
		<string>4006 Grove St</string>
		<key>Dropoff Location</key>
		<string>{77.5434, -37.2222}</string>
		<key>EstimatedTravelTime</key>
		<string>60</string>
		<key>EstimatedTripCharge</key>
		<string>45</string>
		<key>ClientFirstName</key>
		<string>Joe</string>
		<key>ClientLastName</key>
		<string>Rider</string>
		<key>ClientPhone1</key>
		<string>703-536-6424</string>
		<key>ClientPhone2</key>
		<string>571-969-9075</string>
		<key>ClientEmail1</key>
		<string>ted@leashtime.com</string>
		<key>ClientEmail2</key>
		<string>teddyhoo@hotmail.com</string>
		<key>PickupInstructions</key>
		<string>Front Door</string>
		<key>DropoffInstructions</key>
		<string>Back door</string>
	</dict>
</array>
</plist>
